body {
  background-color: aqua;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  display: grid;
  width: 80vh;
  height: 80vh;
  border: 1px black solid;
  
}


.hover {
  background-color: black;
  
}